@font-face {
    font-family: "Star Wars";
    src: url("../assets/fonts/Strjmono.ttf");
}


.home{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: start;

}

.home p{
    color: gold;

    font-size: 30px;

    text-align: center;
}

.home h1{
    font-family: "Star Wars";
    text-align: center;
    font-size: 140px;
  
    color: transparent;
    line-height: 120px;
    letter-spacing: 12px;
  
    -webkit-text-stroke: 1px gold;
    -webkit-text-fill-color: rgba(255, 217, 0, 0.329);
  
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 60px;
  }

